.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 64px;

    background-color: rgb(3, 37, 65);
    color: white;

    font-family: "Source Sans Pro", Arial, sans-serif;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.movies-container-wrapper {
    display: flex;
    flex-direction: column;

    max-width: 930px;
}

.movies-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    flex-wrap: wrap;
    min-height: 1500px;
    min-width: 930px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1200px;
    height: 40px;

    font-size: 14px;
    font-weight: bold;
}

.header-menu-nav-wrapper {

}

.header-menu-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-menu-nav li {
    float: left;
}

.header-menu-nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.moviesLoaderButton p {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    height: 50px;
    margin-left: 30px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(1, 180, 228);
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.control-panel-wrapper {
    margin-top: 30px;
}

.control-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;;
}
