.header-search-form {

}

.header-search-form input {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 6px 20px 6px 20px;
    transition: width 0.4s ease-in-out;
}

.header-search-form input:focus {
    width: 300px;
}