.character-card {
    /*width: 140px;*/
    height: 270px;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    border-radius: 6px;

    border: 1px solid #e3e3e3;
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
}

.character-card-img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 140px;
    height: 175px;
}

.character-card-title {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;

    font-weight: 700;
    font-size: 16px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    text-decoration-style: solid;
}

.character-card-title:hover {
    cursor: pointer;
}

.character-card-img:hover {
    cursor: pointer;
}

.character-card-date {
    margin: 0;
    padding-top: 8px;
    padding-left: 10px;
    color: rgba(0,0,0,0.6);
    font-size: 16px;
    font-family: "Source Sans Pro", Arial, sans-serif;
}