.recommendation-card {
    display: flex;
    flex-direction: column;

    margin-right: 15px;
    border-radius: 9px;

    background-color: #fff;
    color: rgba(0,0,0,1);
}

.recommendation-card-img {
    width: 250px;
    height: 140px;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.recommendation-card-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.recommendation-card-info p {
    margin: 0;
    padding: 0;
}

.recommendation-card-title {
    font-size: 16px;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.recommendation-card-rating {

}